@using EmployeeMVCORM.Entity;

<form method="post" asp-action="AddEmp" asp-controller="Employee" >
    <label>Name:</label>
    <input type="text" name="name" value="">
    <br />
    <label>Price:</label>
    <input type="number" name="salary" value="">
    <br />
    <button type="submit">submit</button>
</form>